<a href="https://colab.research.google.com/github/mrinaaall/OkCupid/blob/main/OkCupid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kmodes

Collecting kmodes
  Downloading https://files.pythonhosted.org/packages/b2/55/d8ec1ae1f7e1e202a8a4184c6852a3ee993b202b0459672c699d0ac18fc8/kmodes-0.10.2-py2.py3-none-any.whl
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.22.2.post1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.0.0)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.4.1)
Installing collected packages: kmodes
Successfully installed kmodes-0.10.2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import datetime
from sklearn.cluster import KMeans
from kmodes.kprototypes import KPrototypes

In [3]:
missing_values = ["n/a", "na", "--", '-1', "NaN"]
profile_data = pd.read_csv('/content/drive/MyDrive/profiles.csv', encoding = 'utf8', na_values = missing_values)

In [4]:
profile_data.columns

Index(['age', 'body_type', 'diet', 'drinks', 'drugs', 'education', 'essay0',
       'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7',
       'essay8', 'essay9', 'ethnicity', 'height', 'income', 'job',
       'last_online', 'location', 'offspring', 'orientation', 'pets',
       'religion', 'sex', 'sign', 'smokes', 'speaks', 'status'],
      dtype='object')

In [6]:
profile_data.head()

   age  ...     status
0   22  ...     single
1   35  ...     single
2   38  ...  available
3   23  ...     single
4   29  ...     single

[5 rows x 31 columns]

In [5]:
# Eliminating the Chained Assignment error.
pd.set_option('mode.chained_assignment', None)

In [7]:
profile_data = profile_data.dropna()

-----------------------

Profile Demographics:

In [8]:
'''
Creating a date-time object from the feature: last_online.
'''
profile_data['last_online'] = pd.to_datetime(profile_data.last_online, format='%Y-%m-%d-%H-%M')

'''
Splitting DATETIME instance of last_online into Date AND Time.
'''
profile_data['last_date_online'] = pd.to_datetime(profile_data['last_online']).dt.date
profile_data['last_time_online'] = pd.to_datetime(profile_data['last_online']).dt.time

'''
Splitting date into Day, Month, and Year.
'''
profile_data['year'] = pd.to_datetime(profile_data['last_date_online']).dt.year
profile_data['month'] = pd.to_datetime(profile_data['last_date_online']).dt.month
profile_data['day'] = pd.to_datetime(profile_data['last_date_online']).dt.day

--------------------------------------

In [9]:
'''
Separating location into CITY and STATE.
'''
location_separated = profile_data["location"].str.split(", ", n = 1, expand = True)
profile_data['city'] = location_separated[0]
profile_data['state'] = location_separated[1]

-------------------------------------------

In [10]:
'''
Retaining the religion, no other information.
'''
profile_data['religion'] = profile_data['religion'].str.split(' ').str[0]

---------------------

In [11]:
'''
Retaining just the zodiac sign, no other information.
'''
profile_data['sign'] = profile_data['sign'].str.split(' ').str[0]

----------------

In [12]:
'''
Exploding language into multiple columns, each column containing one language.
'''
languages_separated = profile_data['speaks'].str.split(", ", n = 5, expand = True)

profile_data['language_1'] = languages_separated[0]
profile_data['language_2'] = languages_separated[1]
profile_data['language_3'] = languages_separated[2]
profile_data['language_4'] = languages_separated[3]
profile_data['language_5'] = languages_separated[4]

'''
Converting type to STRING:
'''
profile_data['language_1']=profile_data['language_1'].apply(str)
profile_data['language_2']=profile_data['language_2'].apply(str)
profile_data['language_3']=profile_data['language_3'].apply(str)
profile_data['language_4']=profile_data['language_4'].apply(str)
profile_data['language_5']=profile_data['language_5'].apply(str)

'''
Eliminating fluency levels in languages to obtain one single language"
'''
# Importing re package for using regular expressions 
import re 
  
# Function to clean the names 
def language_names(language_name): 
    # Search for opening bracket in the name followed by any characters repeated any number of times 
    if re.search('\(.*', language_name): 
  
        # Extract the position of beginning of pattern 
        pos = re.search('\(.*', language_name).start() 
  
        # return the cleaned name 
        return language_name[:pos] 
  
    else: 
        # if clean up needed return the same name 
        return language_name 
          
'''
Updating dataframes with clean text.
'''
profile_data['language_1'] = profile_data['language_1'].apply(language_names) 
profile_data['language_2'] = profile_data['language_2'].apply(language_names) 
profile_data['language_3'] = profile_data['language_3'].apply(language_names) 
profile_data['language_4'] = profile_data['language_4'].apply(language_names) 
profile_data['language_5'] = profile_data['language_5'].apply(language_names) 

'''
Getting rid of SPACE post eliminating FLUENCY.
'''
profile_data['language_1'] = profile_data['language_1'].str.replace(" ", "")
profile_data['language_2'] = profile_data['language_2'].str.replace(" ", "")
profile_data['language_3'] = profile_data['language_3'].str.replace(" ", "")
profile_data['language_4'] = profile_data['language_4'].str.replace(" ", "")
profile_data['language_5'] = profile_data['language_5'].str.replace(" ", "")

---------

In [13]:
'''
Clean the column offspring, eliminating &rsquo;.
'''
profile_data["offspring"] = profile_data['offspring'].str.replace("&rsquo;", "'")

-----

In [14]:
profile_data['height'] = profile_data['height'].apply(lambda x: x*2.54)

--------

In [15]:
profile_data = profile_data.drop(columns = (['last_online', 'location', 'religion', 'sign', 'speaks']))

----------

In [27]:
# list_of_complete_col = []
# list_of_missing_cols = []
# for cols in profile_data.columns:
#   if profile_data[cols].isna().sum() > 0:
#     list_of_missing_cols.append(cols)
#   else:
#     list_of_complete_col.append(cols)

In [20]:
# print('Features with complete data: {}'.format(list_of_complete_col))

Features with complete data: ['age', 'body_type', 'diet', 'drinks', 'drugs', 'education', 'essay0', 'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7', 'essay8', 'essay9', 'ethnicity', 'height', 'income', 'job', 'offspring', 'orientation', 'pets', 'sex', 'smokes', 'status', 'last_date_online', 'last_time_online', 'year', 'month', 'day', 'city', 'state', 'language_1', 'language_2', 'language_3', 'language_4', 'language_5']

In [21]:
# print('Features with missing values: {}'.format(list_of_missing_cols))

Features with missing values: []

-----------------------------

Profile Essays:

In [24]:
'''
preprocess_text: Function to strip html tags, \n and https from text.
params: data_frame
'''
def preprocess_text(data_frame):
  for cols in data_frame.columns:
    data_frame[cols] = data_frame[cols].str.replace('<[^<]+?>', ' ', regex = True)
    data_frame[cols] = data_frame[cols].str.replace('\n', ' ')
    data_frame[cols] = data_frame[cols].str.replace('\'', '')

  return data_frame

In [25]:
profile_data[['essay0', 'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7',
                               'essay8', 'essay9']] = preprocess_text(profile_data[['essay0', 'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7',
                               'essay8', 'essay9']])

----------

Topic Modeling:

In [28]:
from sklearn.feature_extraction.text import CountVectorizer

In [29]:
count_vect = CountVectorizer(max_df=0.8, min_df=2, stop_words='english')

In [30]:
# doc_term_matrix = count_vect.fit_transform(profile_data['essay9'].values.astype('U'))

Each of 1424 documents is represented as 2279 dimensional vector, which means that our vocabulary has 14546 words. Next, we will use LDA to create topics along with the probability distribution for each word in our vocabulary for each topic.

In [38]:
from sklearn.decomposition import LatentDirichletAllocation
LDA = LatentDirichletAllocation(n_components=5, random_state=42)

In [ ]:
# LDA.fit(doc_term_matrix)

In the cell above I used the 'LatentDirichletAllocation' class from the sklearn.decomposition library to perform LDA on our document-term matrix. The parameter n_components specifies the number of categories, or topics, that we want our text to be divided into.
Let's randomly fetch words from our vocabulary. Count vectorizer contains all the words in our vocabulary. We can use the get_feature_names() method and pass it the ID of the word that we want to fetch.

In [ ]:
# import random

# for i in range(10):
#     random_id = random.randint(0,len(count_vect.get_feature_names()))
#     print(count_vect.get_feature_names()[random_id])

In [43]:
# first_topic = LDA.components_[0]

In [ ]:
# first_topic

The first topic contains the probabilities of 2279 words for topic 1. To sort the indexes according to probability values, we can use the argsort() function. Once sorted, the 10 words with the highest probabilities will now belong to the last 10 indexes of the array.

In [45]:
# top_topic_words = first_topic.argsort()[-10:]

In [46]:
# top_topic_words

array([2229, 1518,  834, 1245, 1167, 2187,  833, 1875, 1219, 2280])

These indexes can then be used to retrieve the value of the words from the count_vect object.

In [ ]:
# for i in top_topic_words:
#     print(count_vect.get_feature_names()[i])

These are the top 10 words obtained for the response 'You should message me if..' From the top 10 words above we can infer that the first topic might be about how users want other users to message them if they're looking to have fun or if they love sense of humor.

Printing the 10 words with highest probabilities for all the five topics:

In [ ]:
# for i,topic in enumerate(LDA.components_):
#     print(f'Top 10 words for topic #{i}:')
#     print([count_vect.get_feature_names()[i] for i in topic.argsort()[-10:]])
#     print('\n')

From the top 5 topics above, we see what people want other users to initiate conversations on or match with them if they're looking for the said things.

As a final step, we will add a column to the original data frame that will store the topic for the text. To do so, we can use LDA.transform() method and pass it our document-term matrix. This method will assign the probability of all the topics to each document.

In [49]:
# topic_values = LDA.transform(doc_term_matrix)
# topic_values.shape

(1424, 5)

In [50]:
# profile_data['essay9_topic'] = topic_values.argmax(axis=1)

In [51]:
# profile_data.head()

     age body_type               diet  ... language_4 language_5 essay9_topic
94    29       fit    mostly anything  ...       None       None            0
113   23     curvy    mostly anything  ...       None       None            0
123   21      thin  strictly anything  ...       None       None            0
137   50   average    mostly anything  ...       None       None            2
167   26     curvy    mostly anything  ...       None       None            1

[5 rows x 39 columns]

Wrapping topic modeling in a function:

In [ ]:
count_vect = CountVectorizer(max_df = 0.8, min_df = 2, stop_words = 'english')
LDA = LatentDirichletAllocation(n_components = 5, random_state = 42)

In [56]:
def topic_modeling(data_frame, cols, count_vectorizer, lda):
  '''
  Function: To perform topic modeling on multiple columns of a df.
  Params: data_frame - Dataframe as an input.
          cols - list of columns to obtain topics.
  '''

  og_data_frame = data_frame.copy()

  # Obtaining document term matrix using count_vect as count_vectorizer:
  dt_matrix = count_vectorizer.fit_transform(data_frame[cols].values.astype('U'))

  # LDA
  lda.fit(dt_matrix)
  first_topic = lda.components_[0]
  top_topic_words = first_topic.argsort()[-10:]
  topic_values = lda.transform(dt_matrix)
  og_data_frame[str(cols)+'_new'] = topic_values.argmax(axis=1) 

  return og_data_frame

In [62]:
asd = profile_data
for column in profile_data[['essay0', 'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7',
                               'essay8', 'essay9']]:
  asd = topic_modeling(asd, column, count_vect, LDA)

In [ ]:
asd = asd.drop(columns = ['essay9_topic'])

In [69]:
asd.head()

     age body_type               diet  ... essay7_new essay8_new essay9_new
94    29       fit    mostly anything  ...          0          0          0
113   23     curvy    mostly anything  ...          3          2          0
123   21      thin  strictly anything  ...          4          0          0
137   50   average    mostly anything  ...          1          1          2
167   26     curvy    mostly anything  ...          1          4          1

[5 rows x 48 columns]